---
layout: default
---
<article class="post">

    <header class="post-header">
      <a class="btn-exit" href="{{ site.baseurl }}/"></a>
      <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
      <p class="post-meta" style="color: transparent;">Spooky...... O.o</p>
    </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
